.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
        display: flex;
        background-color: white;
        height: 100vh;
        width: 100vw;
        overflow: hidden;

        .left {
            width: 50%;
            background: linear-gradient(rgb(25, 25, 25), rgba(0, 0, 0, 0.5)),
                url("https://ik.imagekit.io/fabric01/linkx/login.webp?updatedAt=1702474382653")
                    center;
            background-size: cover;
            padding: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10em;
            color: white;

            .left-heading {
                display: flex;
                flex-direction: column;
                gap: 8px;
                max-width: 580px;

                h1 {
                    font-size: 4rem;
                    line-height: 100px;
                }

                p {
                    font-size: 1.025rem;
                }
            }

            .left-register {
                display: flex;
                flex-direction: column;
                gap: 10px;

                span {
                    font-size: 1.05rem;
                    font-weight: 500;
                }

                .register-btn {
                    width: min-content;
                    padding: 10px 30px;
                    border: none;
                    text-transform: uppercase;
                    background-color: white;
                    font-weight: bold;
                    cursor: pointer;
                    border-radius: 2px;
                    transition: 250ms ease-in-out;

                    &:hover {
                        background-color: #e4e4e4;
                    }
                }
                .guest-btn {
                    width: min-content;
                    padding: 10px 30px;
                    text-transform: uppercase;
                    background-color: #1f1f1f;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                    border-radius: 2px;
                    border: 1px solid #555555;
                    transition: 250ms ease-in-out;

                    &:hover {
                        background-color: black;
                    }
                }
            }
        }

        .right {
            width: 50%;
            padding: 100px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            justify-content: center;

            div {
                display: flex;
                flex-direction: column;
                gap: 10px;

                h2 {
                    color: black;
                }

                p {
                    color: black;
                }
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 30px;

                input {
                    border: none;
                    border-bottom: 1px solid lightgray;
                    padding: 10px 5px;
                    font-size: 1rem;

                    &::placeholder {
                        font-size: 0.9rem;
                    }

                    &:focus {
                        outline: none;
                    }
                }

                button {
                    width: min-content;
                    padding: 10px 30px;
                    border: none;
                    font-weight: bold;
                    text-transform: uppercase;
                    background-color: #222;
                    color: white;
                    cursor: pointer;
                    border-radius: 2px;
                    transition: 250ms ease-in-out;

                    &:hover {
                        background-color: #000;
                    }
                }
            }
        }

        @media (max-width: 1024px) {
            .left {
                gap: 60px;
                padding: 50px;
                width: 100%;
            }

            .right {
                padding: 50px;
                width: 100%;
            }
        }
    }

    @media (max-width: 1024px) {
        .card {
            height: 100%;
            flex-direction: column;
        }
    }
}

@media (max-width: 1024px) {
    .login {
        height: min-content;
    }
}

@media (max-width: 480px) {
    .login {
        padding: 0;
        height: min-content;
    }
}
