@import "../../style.scss";

.navbar-main {
    @include themify($themes) {
        position: sticky;
        z-index: 100;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        height: 60px;
        border-bottom: 1px solid themed("border");
        background-color: themed("bg");
        color: themed("textColor");

        @include mobile {
            display: none;
        }

        .left {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;

            .logo-link {
                font-size: 20px;
                font-weight: bold;
                color: themed("logo");

                span {
                    color: themed("button");
                }
            }

            .home-link {
                border-radius: 50%;
                width: 30px;
                height: 30px;
                padding: 3px;
                color: themed("logo");

                &:hover {
                    cursor: pointer;
                    background-color: themed("bgSoft");
                }
            }

            .theme {
                border-radius: 50%;
                width: 30px;
                height: 30px;
                padding: 3px;

                &:hover {
                    cursor: pointer;
                    background-color: themed("bgSoft");
                }

                @include mobile {
                    display: none;
                }
            }

            span {
                font-size: 20px;
                font-weight: bold;
                color: themed("logo");
            }

            .search {
                display: flex;
                align-items: center;
                gap: 10px;
                border: 1px solid themed("border");
                background-color: themed("bgSoft");
                border-radius: 5px;
                padding: 5px;

                input {
                    border: none;
                    width: 500px;
                    padding: 2px;
                    background-color: inherit;
                    color: themed("textColor");

                    &:focus-visible {
                        outline: none;
                    }

                    @include tablet {
                        width: 100%;
                    }

                    @include mobile {
                        display: none;
                    }
                }
            }
        }

        .right {
            display: flex;
            align-items: center;
            gap: 20px;

            @include tablet {
                display: none;
            }

            .user {
                display: flex;
                align-items: center;
                gap: 10px;
                position: relative;

                .user-image {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                    cursor: pointer;
                }

                span {
                    font-weight: 500;
                }
            }
        }
    }
}

.top-mobile {
    @include themify($themes) {
        display: none;

        &.visible {
            opacity: 1;
            transform: translateY(0);
            transition: opacity 0.3s, transform 0.3s;
        }

        &.hidden {
            opacity: 0;
            transform: translateY(-100%);
            transition: opacity 0.3s, transform 0.3s;
        }

        @include mobile {
            display: block;
            position: sticky;
            z-index: 100;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 20px;
            height: 60px;
            border-bottom: 1px solid themed("border");
            background-color: themed("bg");
            color: themed("textColor");
        }

        .left-mobile {
            border-radius: 50%;
            width: min-content;
            padding: 3px;
            color: themed("logo");

            &:hover {
                cursor: pointer;
                background-color: themed("bgSoft");
            }

            span {
                font-size: 20px;
                font-weight: bold;
                color: themed("logo");
            }

            .logo-link {
                font-size: 20px;
                font-weight: bold;
                color: themed("logo");

                span {
                    color: themed("button");
                }
            }
        }

        .right-mobile {
            display: flex;
            align-items: center;
            gap: 20px;

            .theme {
                border-radius: 50%;
                width: 30px;
                height: 30px;
                padding: 3px;

                &:hover {
                    cursor: pointer;
                    background-color: themed("bgSoft");
                }
            }
        }
    }
}

.bottom-mobile {
    @include themify($themes) {
        display: none;

        @include mobile {
            display: block;
            position: fixed;
            width: 100%;
            z-index: 100;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 20px;
            height: 50px;
            border-top: 1px solid themed("border");
            background-color: themed("bg");
            color: themed("textColor");
        }

        .user {
            display: flex;
            align-items: center;
            gap: 10px;
            position: relative;

            .user-image {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        .home-link {
            border-radius: 50%;
            width: 30px;
            height: 30px;
            padding: 3px;
            color: themed("logo");

            &:hover {
                cursor: pointer;
                background-color: themed("bgSoft");
            }
        }

        .search {
            display: flex;
            align-items: center;
            gap: 10px;
            background-color: themed("bgSoft");
            border-radius: 5px;
            padding: 5px;

            input {
                display: none;
            }
        }
    }
}
